<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
    <link rel="stylesheet" href="css/app.css">

    <title>Bloggen Admin UI</title>
</head>

<body>

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
        <div class="container">
            <a href="index.html" class="navbar-brand">Blogen
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav">
                    <li class="nav-item px-2">
                        <a href="index.html" class="nav-link active">DashBoard</a>
                    </li>
                    <li class="nav-item px-2">
                        <a href="posts.html" class="nav-link ">Posts</a>
                    </li>
                    <li class="nav-item px-2">
                        <a href="categories.html" class="nav-link ">Categories</a>
                    </li>
                    <li class="nav-item px-2">
                        <a href="users.html" class="nav-link ">Users</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown mr-3">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-user"></i>
                            Welcome{{User}}
                        </a>
                        <div class="dropdown-menu">
                            <a href="profile.html" class="dropdown-item">
                                <i class="fas fa-user-circle"></i>Profile
                            </a>
                            <a href="settings.html" class="dropdown-item">
                                <i class="fas fa-cog"></i> Settings
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="login.html" class="nav-link">
                            Logout
                            <i class="fas fa-user-times"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header id="main-header" class="py-2 bg-primary text-white">
        <div class="container">
            <div class="row">
                <h1>
                    <i class="fas fa-cog"></i> DashBoard</h1>
            </div>
        </div>
    </header>
    <!-- ACTIONS -->
    <div id="actions" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="btn btn-primary btn-block" data-toggle="modal" data-target="#addPostModal">
                        <i class="fas fa-plus"></i> Add Post
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="btn btn-success btn-block" data-toggle="modal" data-target="#addCategory">
                        <i class="fas fa-plus"></i> Add Category
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="btn btn-warning btn-block" data-toggle="modal" data-target="#addUser">
                        <i class="fas fa-plus"></i> Add User
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- POSTS -->
    <div id="posts">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Latest Posts</h4>
                        </div>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Title</th>
                                    <th>Category</th>
                                    <th>Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Post One</td>
                                    <td>Web Development</td>
                                    <td>July 10 1980</td>
                                    <td>
                                        <a href="details.html" class="btn btn-secondary btn-sm">
                                            <i class="fas fa-angle-double-right"></i>details
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Post Two</td>
                                    <td>Tech gadgets</td>
                                    <td>July 11 1980</td>
                                    <td>
                                        <a href="details.html" class="btn btn-secondary btn-sm">
                                            <i class="fas fa-angle-double-right"></i>details
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Post Three</td>
                                    <td>Business</td>
                                    <td>July 10 1980</td>
                                    <td>
                                        <a href="details.html" class="btn btn-secondary btn-sm">
                                            <i class="fas fa-angle-double-right"></i>details
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Post Four</td>
                                    <td>Health and wellness</td>
                                    <td>december 12 2000</td>
                                    <td>
                                        <a href="details.html" class="btn btn-secondary btn-sm">
                                            <i class="fas fa-angle-double-right"></i>details
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Post Five</td>
                                    <td>Health and wellness</td>
                                    <td>june 6 1988</td>
                                    <td>
                                        <a href="details.html" class="btn btn-secondary btn-sm">
                                            <i class="fas fa-angle-double-right"></i>details
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-center bg-primary text-white mb-3">
                        <div class="card-body">
                            <h3>Posts</h3>
                            <h4 class="display-4">
                                <i class="fas fa-pencil-alt"> </i> 6
                            </h4>
                            <a href="posts.html" class="btn btn-outline-light btn-sm">View</a>
                        </div>
                    </div>

                    <div class="card text-center bg-success text-white mb-3">
                        <div class="card-body">
                            <h3>categories</h3>
                            <h4 class="display-4">
                                <i class="fas fa-folder"> </i> 5
                            </h4>
                            <a href="categories.html" class="btn btn-outline-light btn-sm">View</a>
                        </div>
                    </div>

                    <div class="card text-center bg-warning text-white mb-3">
                        <div class="card-body">
                            <h3>Users</h3>
                            <h4 class="display-4">
                                <i class="fas fa-users"> </i> 4
                            </h4>
                            <a href="users.html" class="btn btn-outline-light btn-sm">View</a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <!-- Footer -->
    <footer id="main-footer" class="bg-dark text-white mt-5 p-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="lead text-center">
                        Copyright &copy;
                        <span id="year">

                        </span> Blogen
                    </p>
                </div>
            </div>
        </div>
    </footer>





    <!-- POST Modals -->
    <div class="modal fade" id="addPostModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title">Add Posts</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="category">Category</label>
                            <select class="form-control">
                                <option value="">Web Development</option>

                                <option value="">Tech Gadgets</option>


                                <option value="">Business</option>

                                <option value="">Health and wellness</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="image">Upload Image</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="image">
                                <label for="image" class="custom-file-label">Choose File</label>
                            </div>
                            <small class="form-text text-muted">
                                Max size 3mb
                            </small>
                        </div>

                        <div class="form-group">
                            <label for="body">Body</label>
                            <textarea name="editor1" class="form-control"></textarea>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">Save Changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CATEGORY MODEL -->
    <div class="modal fade" id="addCategory">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-success text-white">
                    <h5 class="modal-title">Add Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" data-dismiss="modal">
                        Save Changes
                    </button>
                </div>


            </div>
        </div>
    </div>


    <!-- USER MODAL -->
    <div class="modal fade" id="addUser">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-warning text-white">
                    <h5 class="modal-title">Add User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="Name">Email</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="password">password</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="password2">confirm Password</label>
                            <input type="text" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" data-dismiss="modal">
                        Save Changes
                    </button>
                </div>


            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
    <script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>