<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
  <link rel="stylesheet" href="css/app.css">

  <title>Bloggen Admin UI</title>
</head>

<body>

  <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
    <div class="container">
      <a href="index.html" class="navbar-brand">Blogen
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item px-2">
            <a href="index.html" class="nav-link ">DashBoard</a>
          </li>
          <li class="nav-item px-2">
            <a href="posts.html" class="nav-link active">Posts</a>
          </li>
          <li class="nav-item px-2">
            <a href="categories.html" class="nav-link ">Categories</a>
          </li>
          <li class="nav-item px-2">
            <a href="users.html" class="nav-link ">Users</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown mr-3">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
              <i class="fas fa-user"></i>
              Welcome{{User}}
            </a>
            <div class="dropdown-menu">
              <a href="profile.html" class="dropdown-item">
                <i class="fas fa-user-circle"></i>Profile
              </a>
              <a href="settings.html" class="dropdown-item">
                <i class="fas fa-cog"></i> Settings
              </a>
            </div>
          </li>
          <li class="nav-item">
            <a href="login.html" class="nav-link">
              Logout
              <i class="fas fa-user-times"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header id="main-header" class="py-2 bg-primary text-white">
    <div class="container">
      <div class="row">
        <h1>
          <i class="fas fa-pencil-alt"></i> Posts</h1>
      </div>
    </div>
  </header>

  <!-- Search Posts -->
  <section id="search" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 ml-auto">
          <form>
            <div class="input-group">

              <input type="text" class="form-control" placeholder="Search Posts...">
              <div class="input-group-append">
                <button class="btn btn-primary">Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </section>


  <section id="latestPosts">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h4>Latest Posts</h4>
            </div>
            <div class="table-responsive">
              <table class="table table-striped ">
                <thead class="thead-dark">
                  <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Date</th>
                    <th>Details</th>
                  </tr>

                </thead>


                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Post One</td>
                    <td>Web Development</td>
                    <td>July 10 1980</td>
                    <td>
                      <a href="details.html" class="btn btn-secondary btn-sm">
                        <i class="fas fa-angle-double-right"></i>details
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Post Two</td>
                    <td>Tech gadgets</td>
                    <td>July 11 1980</td>
                    <td>
                      <a href="details.html" class="btn btn-secondary btn-sm">
                        <i class="fas fa-angle-double-right"></i>details
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Post Three</td>
                    <td>Business</td>
                    <td>July 10 1980</td>
                    <td>
                      <a href="details.html" class="btn btn-secondary btn-sm">
                        <i class="fas fa-angle-double-right"></i>details
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>Post Four</td>
                    <td>Health and wellness</td>
                    <td>december 12 2000</td>
                    <td>
                      <a href="details.html" class="btn btn-secondary btn-sm">
                        <i class="fas fa-angle-double-right"></i>details
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>Post Five</td>
                    <td>Health and wellness</td>
                    <td>june 6 1988</td>
                    <td>
                      <a href="details.html" class="btn btn-secondary btn-sm">
                        <i class="fas fa-angle-double-right"></i>details
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- Pagination -->
            <nav class="ml-4">
              <ul class="pagination">
                <li class="page-item disabled">
                  <a href="#" class="page-link">Previous</a>
                </li>
                <li class="page-item active">
                  <a href="#" class="page-link ">1</a>
                </li>
                <li class="page-item">
                  <a href="#" class="page-link">2</a>
                </li>
                <li class="page-item">
                  <a href="#" class="page-link">3</a>
                </li>
                <li class="page-item">
                  <a href="#" class="page-link">Next</a>
                </li>

              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer id="main-footer" class="bg-dark text-white mt-5 p-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="lead text-center">
            Copyright &copy;
            <span id="year">

            </span> Blogen
          </p>
        </div>
      </div>
    </div>
  </footer>







  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>

  <script type="text/javascript">

    "use strict";
    $(document).ready(function () {
      // Get Current year of
      $("#year").text(new Date().getFullYear());


    });

  </script>
</body>

</html>