<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
    <link rel="stylesheet" href="css/app.css">

    <title>Bloggen Admin UI</title>
</head>

<body>

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
        <div class="container">
            <a href="index.html" class="navbar-brand">Blogen
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav">
                    <li class="nav-item px-2">
                        <a href="index.html" class="nav-link ">DashBoard</a>
                    </li>
                    <li class="nav-item px-2">
                        <a href="posts.html" class="nav-link ">Posts</a>
                    </li>
                    <li class="nav-item px-2">
                        <a href="categories.html" class="nav-link ">Categories</a>
                    </li>
                    <li class="nav-item px-2">
                        <a href="users.html" class="nav-link ">Users</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown mr-3">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-user"></i>
                            Welcome{{User}}
                        </a>
                        <div class="dropdown-menu">
                            <a href="profile.html" class="dropdown-item">
                                <i class="fas fa-user-circle"></i>Profile
                            </a>
                            <a href="settings.html" class="dropdown-item">
                                <i class="fas fa-cog"></i> Settings
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="login.html" class="nav-link">
                            Logout
                            <i class="fas fa-user-times"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header id="main-header" class="py-2 bg-primary text-white">
        <div class="container">
            <div class="row">
                <h1>
                    <i class="fas fa-user"></i> Edit Profile</h1>
            </div>
        </div>
    </header>
    <!-- ACTIONS -->
    <div id="profile_actions" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a href="index.html" class="btn btn-light btn-block">
                        <i class="fas fa-arrow-left"></i> Back To Dashboard
                    </a>

                </div>

                <div class="col-md-3">
                    <div class="btn btn-success btn-block">
                        <i class="fas fa-lock"></i> Change Password
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="btn btn-danger btn-block">
                        <i class="fa fa-trash" aria-hidden="true"></i> Delete Account
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- POSTS -->
    <div id="posts">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Edit Profile</h4>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" value="john Doe">
                                </div>

                                <div class="form-group">
                                    <label for="name">Email</label>
                                    <input type="text" class="form-control" value="test@test.com">
                                </div>


                                <div class="form-group">
                                    <label for="bio">Bio</label>
                                    <textarea name="editor_profile" id="" cols="30" rows="10" class="form-control">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae odit vel ex distinctio iusto corrupti, eligendi libero odio ducimus optio nihil labore quas quod veniam recusandae atque pariatur molestias asperiores velit rem. Impedit eum enim corporis quidem tempora tempore iure.</textarea>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h3>Your Avatar</h3>
                    <img src="img/avatar.png" alt="" class="d-block img-fluid mb-3">
                    <button class="btn btn-primary btn-block">Edit Image</button>

                    <button class="btn btn-danger btn-block">Delete Image</button>


                </div>
            </div>

        </div>
    </div>

    <!-- Footer -->
    <footer id="main-footer" class="bg-dark text-white mt-5 p-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="lead text-center">
                        Copyright &copy;
                        <span id="year">

                        </span> Blogen
                    </p>
                </div>
            </div>
        </div>
    </footer>









    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
    <script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
    <script type="text/javascript">
        $("#year").text(new Date().getFullYear());
        CKEDITOR.replace("editor_profile");
    </script>
</body>

</html>